h1
{
 color:white;
 font-size:50px;
 font-weight:bold;
 text-align:center;
 text-shadow:5px 5px 4px red;
 
}

h2
{
 color:white;
 font-size:30px;
 font-weight:bold;
 text-align:center;
 text-shadow:5px 5px 4px red;
}

h3
{
 color:white;
 font-size:50px;
 font-weight:bold;
 text-align:center;
 font-family:Edwardian Script ITC;
}

h4
{
 font-size:30px;
 text-align:center;
}
