p
{
 color:white;
 font-size:30px;
 font-weight:bold;
 text-align:justify;
}

p1
{
 color:white;
 font-size:30px;
 font-weight:bold;
 text-align:justify;
 font-family:Comic Sans MS;
}

p p2
{
 color:white;
 font-size:30px;
 font-weight:bold;
 text-align:justify;
}