.dropbotao
{
 background-color:gray;
 color:white;
 padding:12px 41px;
 font-size:16px;
 border:none;
 cursor:pointer;

 border-radius:22px;
 opacity:0.9;
 display:inline-block;
}

.dropbaixo
{
 position:relative;
 display:inline-block;
}

.dropbaixo-content
{
 display:none;
 position:absolute;
 background-color:white;
 min-width:100px;
 box-shadow:0px 8px 16px 0px rgba(0,0,0.2);
}

.dropbaixo-content a
{
 color:black;
 padding:5px 5px;
 text-decoration:none;
 display:block;
}

.dropbaixo-content a:hover
{
 background-color:gray;
}

.dropbaixo:hover .dropbaixo-content
{
 display:block;
}

.dropbaixo:hover .dropbotao
{
 background-color:red;
}